*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 1.5rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 80%;
}

.info {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0;
}

.info .content {
  width: 40%;
}

.info .content .heading {
  font-weight: bold;
  font-size: 4.5rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  color: #502050;
}

.info .content .body {
  color: #937b92;
  line-height: 1.5;
}

.info .ratings {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info .ratings .reviews {
  width: 40rem;
  background-color: #f7f2f7;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .ratings .reviews:nth-child(1) {
  margin-left: -12rem;
}

.info .ratings .reviews:nth-child(2) {
  margin: 3rem 0;
  margin-left: -6rem;
}

.info .ratings .reviews:nth-child(3) {
  margin-left: 0rem;
}

.info .ratings .reviews .stars {
  margin-left: 1rem;
}

.info .ratings .reviews .review {
  padding: 1.5rem 0rem;
  font-weight: 700;
  color: #502050;
  display: inline;
}

.cards {
  margin-top: -7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  color: white;
  background-color: #502050;
  padding: 3rem;
  border-radius: 1rem;
}

.card img {
  border-radius: 50%;
  width: 5rem;
}

.card:nth-child(2) {
  margin: 0 4rem;
  margin-top: 8rem;
}

.card:last-child {
  margin-top: 16rem;
}

.card .profile {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .profile img {
  margin-right: 3rem;
}

.card .profile .title {
  font-weight: 300;
  margin-top: 0.6rem;
  font-size: 1.4rem;
  color: #ee68a4;
}

.card .comments {
  line-height: 1.5;
}

.footer {
  margin-top: 5rem;
  height: 9vh;
  background-color: #f7f2f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .attribution {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}

.footer .attribution a {
  text-decoration: none;
  color: #52a12f;
}
/*# sourceMappingURL=style.css.map */